openapi: 3.1.0
info:
  title: Faculty Service
  version: 1.0.0
tags:
  - name: Faculties
paths:
  /v1/faculties:
    get:
      operationId: FacultiesV1_list
      description: 教員一覧を取得する
      parameters: []
      responses:
        '200':
          description: 教員のリスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculties:
                    type: array
                    items:
                      $ref: '#/components/schemas/Faculty'
                required:
                  - faculties
      tags:
        - Faculties
    post:
      operationId: FacultiesV1_create
      description: 教員を作成する
      parameters: []
      responses:
        '201':
          description: 作成された教員
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/Faculty'
                required:
                  - faculty
      tags:
        - Faculties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacultyRequest'
        description: 作成する教員の情報
  /v1/faculties/{id}:
    get:
      operationId: FacultiesV1_detail
      description: 教員を詳細取得する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '200':
          description: 教員の詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/Faculty'
                required:
                  - faculty
      tags:
        - Faculties
    put:
      operationId: FacultiesV1_update
      description: 教員を更新する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '200':
          description: 更新された教員
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/Faculty'
                required:
                  - faculty
      tags:
        - Faculties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacultyRequest'
        description: 更新する教員の情報
    delete:
      operationId: FacultiesV1_delete
      description: 教員を削除する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '204':
          description: There is no content to send for this request, but the headers may be useful.
      tags:
        - Faculties
components:
  schemas:
    Faculty:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
      description: 教員
    FacultyRequest:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
        email:
          type: string
servers:
  - url: http://localhost:8080
    description: Local
    variables: {}
  - url: https://faculty-api-dev-107577467292.asia-northeast1.run.app
    description: Development
    variables: {}
  - url: https://faculty-api-stg-107577467292.asia-northeast1.run.app
    description: Staging
    variables: {}
  - url: https://faculty-api-qa-107577467292.asia-northeast1.run.app
    description: QA
    variables: {}
  - url: https://faculty-api-107577467292.asia-northeast1.run.app
    description: Production
    variables: {}
