openapi: 3.1.0
info:
  title: Subject Service
  version: 1.0.0
tags:
  - name: Faculties
  - name: Subjects
  - name: Syllabus
paths:
  /v1/faculties:
    get:
      operationId: FacultiesV1_list
      description: 教員一覧を取得する
      parameters: []
      responses:
        '200':
          description: 教員のリスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculties:
                    type: array
                    items:
                      $ref: '#/components/schemas/DottoFoundationV1.Faculty'
                required:
                  - faculties
      tags:
        - Faculties
    post:
      operationId: FacultiesV1_create
      description: 教員を作成する
      parameters: []
      responses:
        '201':
          description: 作成された教員
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/DottoFoundationV1.Faculty'
                required:
                  - faculty
      tags:
        - Faculties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DottoFoundationV1.FacultyRequest'
        description: 作成する教員の情報
  /v1/faculties/{id}:
    get:
      operationId: FacultiesV1_detail
      description: 教員を詳細取得する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '200':
          description: 教員の詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/DottoFoundationV1.Faculty'
                required:
                  - faculty
      tags:
        - Faculties
    put:
      operationId: FacultiesV1_update
      description: 教員を更新する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '200':
          description: 更新された教員
          content:
            application/json:
              schema:
                type: object
                properties:
                  faculty:
                    $ref: '#/components/schemas/DottoFoundationV1.Faculty'
                required:
                  - faculty
      tags:
        - Faculties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DottoFoundationV1.FacultyRequest'
        description: 更新する教員の情報
    delete:
      operationId: FacultiesV1_delete
      description: 教員を削除する
      parameters:
        - name: id
          in: path
          required: true
          description: 教員ID
          schema:
            type: string
      responses:
        '204':
          description: There is no content to send for this request, but the headers may be useful.
      tags:
        - Faculties
  /v1/subjects:
    get:
      operationId: SubjectsV1_list
      description: |-
        科目一覧を取得する

        同一項目同士はOR、異なる項目同士はANDでフィルタリングされます。
      parameters:
        - name: q
          in: query
          required: true
          description: 検索ワード
          schema:
            type: string
          explode: false
        - name: grade
          in: query
          required: true
          description: 学年
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.Grade'
          explode: false
        - name: courses
          in: query
          required: true
          description: コース; 大学院の場合は大学院コースに読み替え
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.Course'
          explode: false
        - name: class
          in: query
          required: true
          description: クラス; 大学院の学年を選択した場合は選択できない
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.Class'
          explode: false
        - name: classification
          in: query
          required: true
          description: '学部: 専門・教養; 大学院: 専門・研究指導'
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.SubjectClassification'
          explode: false
        - name: semester
          in: query
          required: true
          description: 開講時期
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.CourseSemester'
          explode: false
        - name: requirementType
          in: query
          required: true
          description: 必修・選択・選択必修
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.SubjectRequirementType'
          explode: false
        - name: culturalSubjectCategory
          in: query
          required: true
          description: 教養科目カテゴリ
          schema:
            type: array
            items:
              $ref: '#/components/schemas/DottoFoundationV1.CulturalSubjectCategory'
          explode: false
      responses:
        '200':
          description: 科目のリスト
          content:
            application/json:
              schema:
                type: object
                properties:
                  subjects:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubjectSummary'
                required:
                  - subjects
      tags:
        - Subjects
    put:
      operationId: SubjectsV1_upsert
      description: 科目を作成または更新する
      parameters: []
      responses:
        '200':
          description: 作成された科目
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    $ref: '#/components/schemas/Subject'
                required:
                  - subject
      tags:
        - Subjects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubjectRequest'
        description: 作成する科目の情報
  /v1/subjects/{id}:
    get:
      operationId: SubjectsV1_detail
      description: 科目を詳細取得する
      parameters:
        - name: id
          in: path
          required: true
          description: 科目ID
          schema:
            type: string
      responses:
        '200':
          description: 科目の詳細
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject:
                    $ref: '#/components/schemas/Subject'
                required:
                  - subject
      tags:
        - Subjects
    delete:
      operationId: SubjectsV1_delete
      description: 科目を削除する
      parameters:
        - name: id
          in: path
          required: true
          description: 科目ID
          schema:
            type: string
      responses:
        '204':
          description: There is no content to send for this request, but the headers may be useful.
      tags:
        - Subjects
  /v1/subjects/{id}/syllabus:
    get:
      operationId: SyllabusV1_detail
      description: シラバスを取得する
      parameters:
        - name: id
          in: path
          required: true
          description: 科目ID
          schema:
            type: string
      responses:
        '200':
          description: シラバス
          content:
            application/json:
              schema:
                type: object
                properties:
                  syllabus:
                    $ref: '#/components/schemas/Syllabus'
                required:
                  - syllabus
      tags:
        - Syllabus
components:
  schemas:
    DottoFoundationV1.Class:
      type: string
      enum:
        - A
        - B
        - C
        - D
        - E
        - F
        - G
        - H
        - I
        - J
        - K
        - L
      description: クラス
    DottoFoundationV1.Course:
      type: string
      enum:
        - InformationSystem
        - InformationDesign
        - AdvancedICT
        - ComplexSystem
        - IntelligentSystem
      description: コース
    DottoFoundationV1.CourseSemester:
      type: string
      enum:
        - AllYear
        - H1
        - H2
        - Q1
        - Q2
        - Q3
        - Q4
        - SummerIntensive
        - WinterIntensive
      description: 開講時期
    DottoFoundationV1.CulturalSubjectCategory:
      type: string
      enum:
        - Society
        - Human
        - Science
        - Health
        - Communication
      description: 教養科目カテゴリ
    DottoFoundationV1.Faculty:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
      description: 教員
    DottoFoundationV1.FacultyRequest:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
        email:
          type: string
    DottoFoundationV1.Grade:
      type: string
      enum:
        - B1
        - B2
        - B3
        - B4
        - M1
        - M2
        - D1
        - D2
        - D3
      description: 学年
    DottoFoundationV1.SubjectClassification:
      type: string
      enum:
        - Specialized
        - Cultural
        - ResearchInstruction
      description: 科目カテゴリ
    DottoFoundationV1.SubjectRequirementType:
      type: string
      enum:
        - Required
        - Optional
        - OptionalRequired
      description: 必修・選択
    Subject:
      type: object
      required:
        - id
        - name
        - faculties
        - semester
        - credit
        - eligibleAttributes
        - requirements
      properties:
        id:
          type: string
        name:
          type: string
        faculties:
          type: array
          items:
            $ref: '#/components/schemas/SubjectFaculty'
        semester:
          $ref: '#/components/schemas/DottoFoundationV1.CourseSemester'
        credit:
          type: integer
          description: 単位数
        eligibleAttributes:
          type: array
          items:
            $ref: '#/components/schemas/SubjectTargetClass'
          description: 授業名末尾の`学年-クラス`をもとに決定
        requirements:
          type: array
          items:
            $ref: '#/components/schemas/SubjectRequirement'
          description: 科目群・科目区分をもとに決定
    SubjectFaculty:
      type: object
      required:
        - faculty
        - isPrimary
      properties:
        faculty:
          $ref: '#/components/schemas/DottoFoundationV1.Faculty'
        isPrimary:
          type: boolean
    SubjectFacultyRequest:
      type: object
      required:
        - facultyId
        - isPrimary
      properties:
        facultyId:
          type: string
        isPrimary:
          type: boolean
    SubjectRequest:
      type: object
      required:
        - syllabusId
      properties:
        syllabusId:
          type: string
    SubjectRequirement:
      type: object
      required:
        - course
        - requirementType
      properties:
        course:
          $ref: '#/components/schemas/DottoFoundationV1.Course'
        requirementType:
          $ref: '#/components/schemas/DottoFoundationV1.SubjectRequirementType'
    SubjectRequirementRequest:
      type: object
      required:
        - course
        - requirementType
      properties:
        course:
          $ref: '#/components/schemas/DottoFoundationV1.Course'
        requirementType:
          $ref: '#/components/schemas/DottoFoundationV1.SubjectRequirementType'
    SubjectSummary:
      type: object
      required:
        - id
        - name
        - faculties
      properties:
        id:
          type: string
        name:
          type: string
        faculties:
          type: array
          items:
            $ref: '#/components/schemas/SubjectFaculty'
    SubjectTargetClass:
      type: object
      required:
        - grade
      properties:
        grade:
          $ref: '#/components/schemas/DottoFoundationV1.Grade'
        class:
          allOf:
            - $ref: '#/components/schemas/DottoFoundationV1.Class'
          description: 修士課程・博士課程対象の場合はnull
      description: 対象学年・クラス
    Syllabus:
      type: object
      required:
        - id
        - name
        - enName
        - grades
        - credit
        - facultyNames
        - practicalHomeFacultyCategory
        - multiplePersonTeachingForm
        - teachingForm
        - summary
        - learningOutcomes
        - assignments
        - evaluationMethod
        - textbooks
        - referenceBooks
        - prerequisites
        - preLearning
        - postLearning
        - notes
        - keywords
        - targetCourses
        - targetAreas
        - classifications
        - teachingLanguage
        - contentsAndSchedule
        - teachingAndExamForm
        - dspoSubject
      properties:
        id:
          type: string
          description: 教務システムのシラバスID
        name:
          type: string
          description: 授業名
        enName:
          type: string
          description: 授業名 (en)
        grades:
          type: string
          description: 配当年次
        credit:
          type: integer
          description: 単位数
        facultyNames:
          type: string
          description: 担当教員名
        practicalHomeFacultyCategory:
          type: string
          description: 実務家教員区分
        multiplePersonTeachingForm:
          type: string
          description: 複数人担当形式
        teachingForm:
          type: string
          description: 授業形態
        summary:
          type: string
          description: 授業の概要
        learningOutcomes:
          type: string
          description: 授業の到達目標
        assignments:
          type: string
          description: 提出課題等
        evaluationMethod:
          type: string
          description: 成績の評価方法・基準
        textbooks:
          type: string
          description: テキスト
        referenceBooks:
          type: string
          description: 参考書
        prerequisites:
          type: string
          description: 履修条件
        preLearning:
          type: string
          description: 事前学習
        postLearning:
          type: string
          description: 事後学習
        notes:
          type: string
          description: 履修上の留意点
        keywords:
          type: string
          description: キーワード
        targetCourses:
          type: string
          description: 対象コース・領域
        targetAreas:
          type: string
          description: 対象領域
        classifications:
          type: string
          description: 科目群・科目区分
        teachingLanguage:
          type: string
          description: 教授言語
        contentsAndSchedule:
          type: string
          description: 授業内容とスケジュール
        teachingAndExamForm:
          type: string
          description: 授業・試験の形式
        dspoSubject:
          type: string
          description: DSOP対象科目
servers:
  - url: http://localhost:8080
    description: Local
    variables: {}
  - url: https://subject-api-dev-107577467292.asia-northeast1.run.app
    description: Development
    variables: {}
  - url: https://subject-api-stg-107577467292.asia-northeast1.run.app
    description: Staging
    variables: {}
  - url: https://subject-api-qa-107577467292.asia-northeast1.run.app
    description: QA
    variables: {}
  - url: https://subject-api-107577467292.asia-northeast1.run.app
    description: Production
    variables: {}
